<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="inv-invoice-item-heading"
        data-cy="InvoiceItemCreateUpdateHeading"
        invTranslate="invoiceApp.invoiceItem.home.createOrEditLabel"
      >
        Create or edit a Invoice Item
      </h2>

      <div>
        <inv-alert-error></inv-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" invTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" invTranslate="invoiceApp.invoiceItem.value" for="field_value">Value</label>
          <input type="number" class="form-control" name="value" id="field_value" data-cy="value" formControlName="value" />
          <div *ngIf="editForm.get('value')!.invalid && (editForm.get('value')!.dirty || editForm.get('value')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('value')?.errors?.required" invTranslate="entity.validation.required">
              This field is required.
            </small>
            <small class="form-text text-danger" [hidden]="!editForm.get('value')?.errors?.number" invTranslate="entity.validation.number">
              This field should be a number.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" invTranslate="invoiceApp.invoiceItem.invoice" for="field_invoice">Invoice</label>
          <select class="form-control" id="field_invoice" data-cy="invoice" name="invoice" formControlName="invoice">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="invoiceOption.id === editForm.get('invoice')!.value?.id ? editForm.get('invoice')!.value : invoiceOption"
              *ngFor="let invoiceOption of invoicesSharedCollection; trackBy: trackInvoiceById"
            >
              {{ invoiceOption.id }}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label class="form-control-label" invTranslate="invoiceApp.invoiceItem.item" for="field_item">Item</label>
          <select class="form-control" id="field_item" data-cy="item" name="item" formControlName="item">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="itemOption.id === editForm.get('item')!.value?.id ? editForm.get('item')!.value : itemOption"
              *ngFor="let itemOption of itemsSharedCollection; trackBy: trackItemById"
            >
              {{ itemOption.id }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span invTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span invTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
